<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-default">
                <div class="media bg-dark text-white px-3 py-3">
                    <div class="d-inline-block mr-3">
                        <i class="fas fa-check fa-2x fa-border rounded-circle px-2 py-2"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-0">Comments</h3>
                        <div class="text-secondary" style="font-size: 1.125rem;">Why do you love this Vizy?</div>
                    </div>
                </div>
                <div class="card-body border-bottom border-secondary py-0">
                    <div class="row text-center ">
                        <div class="col-md-6 text-info border-right border-secondary py-4">
                            <h4 class="mb-0">
                                <i class="fas fa-star mr-3"></i>&nbsp;<span v-text="stars"></span><span>&nbsp;Stars</span>
                            </h4>
                        </div>
                        <div class="col-md-6 py-4">
                            <h4 class="mb-0">
                                <i class="fas fa-comment-alt mr-3"></i>&nbsp;<span v-text="comments.length"></span><span>&nbsp;Comments</span>
                            </h4>
                        </div>
                    </div>

                </div>
                <div style="max-height: 500px; overflow: scroll">
                    <div class="border-bottom border-secondary px-3 py-3" v-for="(comment,index) in comments">
                        <div class="media">
                            <img class="mr-3 rounded" src="img/avatar.svg" alt="avatar">
                            <div class="media-body">
                                <div class="clearfix">
                                    <h5 class="mt-0 float-left" v-text="comment.uname"></h5>
                                    <div class="mt-0 text-secondary float-right" v-text="getDate(comment.created_at)"></div>
                                </div>
                                <div class="text-secondary" v-text="comment.comment"></div>
                            </div>
                        </div>


                        <div class="float-right btn-group" v-if="user != 'guest' && user_obj.id == comment.uid">
                            <button type="button" class="btn btn-link pr-0" aria-label="Destroy"  @click="editComment(index)">
                                <span>edit</span>
                            </button>
                            <button type="button" class="btn btn-link pr-0" aria-label="Destroy"  @click="destroyComment(index)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="clearfix"></div>

                    </div>
                </div>


                <div class="col mt-2" v-if="user != 'guest'">
                    <div class="form-group row bg-white">
                        <textarea class="form-control border-0 col mx-1" v-model="ncomment" rows="3" placeholder="Add a comment.."></textarea>

                        <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-secondary mx-3" @click="addComment()" v-if="index < 0">Post</button>
                            <button type="button" class="btn btn-secondary mx-3" @click="updateComment()" v-if="index >= 0">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'user'
        ],
        data(){
            return {
                comments: [],
                stars: 0,
                ncomment: "",
                index: -1,
                user_obj: {}
            }
        },
        mounted() {
            if (this.user != 'guest') {
                this.user_obj = JSON.parse(this.user);
            }
            this.getComments();
        },
        methods: {
            getDate(date){
                return moment(date, "YYYY-MM-DD HH:mm:ss").fromNow();
            },
            getComments(){
                axios.get('/comments').then((response) => {
                        this.comments = response.data;
                        this.stars = this.comments.length - 1;
                    }
                )
            },
            addComment(){
                var ncomment = {
                    uid: this.user_obj.id,
                    comment: this.ncomment,
                    created_at: moment().format("YYYY-MM-DD HH:mm:ss")
            };

                axios.post('/comments', {
                    comment:ncomment
                }).then((response) => {
                        ncomment.id = response.data.id;
                        ncomment.uname = this.user_obj.name;
                        this.comments.push(ncomment);
                        this.ncomment = "";
                    }
                )
            },
            editComment(index){
                this.index = index;
                this.ncomment = this.comments[index].comment;
            },
            updateComment(){
                axios.put('/comments/'+this.comments[this.index].id, {
                    comment:this.ncomment
                }).then((response) => {
                        this.comments[this.index].comment = this.ncomment;
                        this.ncomment = "";
                        this.index = -1;
                })
            },
            destroyComment(index){
                axios.delete('/comments/'+this.comments[index].id).then((response) => {
                    this.comments.splice(index, 1);
                })

            }
        }
    }
</script>
